@url-fonts: "../fonts/";


@font-face {
    font-family: 'BravoRG';
    src: local('BravoRG Regular'), local('BravoRG'),
        url('@{url-fonts}BravoRG.woff2') format('woff2'),
        url('@{url-fonts}BravoRG.woff') format('woff'),
        url('@{url-fonts}BravoRG.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}